body{
  font-family: 'Source Sans Pro', sans-serif;
}

@media all and (max-width: 700px) {
  header nav {
    display: none;
  }
}

a{
  outline: none;
  text-decoration: none;
}

li{
  list-style: none;
}


.why_comigo{
  width: 20%;
  color: rgb(61, 61, 61);
}

.enhance{
  background-image: url("../assets/other/ic-EI-cloud-brain-hp.png"), url("../assets/other/home-tv-service-bg1.png");
  background-size: 20% auto, 50% auto;
  background-repeat: no-repeat;
  background-position-x: 25% , left;
  color: white;
}

.deploy_on_android{
  background-image: url("../assets/other/home-tv-service-bg2.png"), url("../assets/other/ic-stb-screens.png");
  background-size: 50% auto, 20% auto;
}
